@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

#banner{
	display: block;
    width: 100%;
    float: right
}

#banner img{
	margin: 0 auto;
}

body{
    font-family: 'Fredericka the Great', cursive;
/*	font-family: 'VT323', monospace;*/
	width: 100%;
	margin: auto;
	padding: 0;
	background: url('https://68.media.tumblr.com/0f96f5b11192979bca2f1e5d5f72862f/tumblr_om4f0dZEyY1upe1ufo1_540.gif');
 	background-size: cover;
	background-repeat: no-repeat;
	background-opacity: .5;
    text-align:center;
    font-size: 50pt;
}
#enter, a{
    width: 100%;
    text-decoration: none;
    opacity:.0;
    transition: opacity 3s;

}
#enter:hover, a:hover{
    opacity: 1.0;
    -webkit-transition: opacity 10s;
    color: white;
    text-decoration: none;
}

#enter:link, a{
    color: white;
    font-size: ;
    text-decoration: none;
    opacity:.1;
}
#enter:active, a {
    color: yellow;
    text-decoration: none;
} 
#enter:visited, a{
    color: white;
    text-decoration: none;
}
.navi ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navi li a {
    display: block;
    width: 60px;
}
.navi img{
    width: 20px;
    padding:20px;
}
.navi a:link{
    opacity: .5;
}
.navi a:hover{
    opacity: 1;
}